body {
  background-color: #607D8B;
  background-image: url('../images/yosemite.jpg');
  background-size: cover;
}
td {
  font-size: 16px;
}
.mdl-data-table {
  width: 100%;
  margin-top: 2em;
  border-left: solid 5px #607D8B;
}
.mdl-list__item {
  line-height:1.5em;
  width: 50%;
  float:left;
  display:inline;
}
tr {
  cursor: pointer;
}
.mdl-button--fab {
  position: fixed;
  right: 10%;
  bottom: 10%;
}
.mdl-card {
  width: 95%;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
.login-card {
  width: 100%;
  margin-top: 3em;
  padding: 2em;
  padding-left: 4em;
}
.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label {
  transform: translate3d(0, -20px, 0);
  visibility: hidden;
}

.mdl-textfield--floating-label input[type=password]:-webkit-autofill ~ label:after {
  content: 'Password';
  visibility: visible;
  left: 0;
  transform: translate3d(0, -20px, 0);
  background: transparent;
  color: inherit;
}
.status {
  padding: 2em;
  text-align: center;
}
.search {
  padding: 0.1em;
  margin: 0.1em;
  margin-bottom: 1em;
  margin-left: 0.3em;
  position: absolute;
  bottom: 5em;
  border-left: 5px solid #607D8B;
}
.mdl-dialog {
  border: 2px solid #607D8B;
}

.table-card {
  /* a card containing a table */
  padding-left: 2em;
}
#profile-icon {
  margin-bottom: 0.3em;
}
#add_counselor_fab {
  position: fixed;
  right: 2%;
  bottom: 4%;
}
.badges {
  background-color: white;
}
.mdl-card__supporting-text, .mdl-card__supporting-text p {
  font-size: 16px;
}
#user_counselors_li:hover {
  cursor: pointer;
  text-decoration: underline;
}
#about_link {
  position: absolute;
  bottom: 1em;
  width: 100%;
}
.card-with-border {
  border-left: 5px solid #607D8B;
}